.chat-input{
-fx-background-color: transparent;
}

.button-send{
-fx-background-color: #B82266;
-fx-text-fill: white;
-fx-font-weight: bold;
}

.root{
-fx-background-color: #2266B8;
}

.status-circle{
-fx-fill: #00FF35;
}

.status-label{
-fx-text-fill: #B82266;
-fx-font-weight: bold;
}

.status-username{
-fx-text-fill: white;
-fx-font-weight: bold;
}